@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');
*{margin: 0; padding: 0;}
ul, li{list-style: none;}
a{text-decoration: none; color: #222;}
.cf::after{
    content: '';
    display: block;
    clear: both;
}
body{font-family: 'Nanum Gothic', sans-serif; }

body 